* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #DDDDDD rgb(221, 221, 221) hsl(0, 0%, 87%);
    background: url(images/Ljusarebakgrundsbild.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.myphoto {
    width: 250px;
    height: 100%;
    border: 3px solid black;
    border-radius: 100%;
}

nav {
    align-items: center;
    height: 17vh;
    border-bottom: 5px solid black;
  
}
.navlink {
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
    font-size: 2rem;
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color:white ;
    font-weight: 500;
    text-shadow: rgb(105, 104, 104) 1px 1px;
}

a:hover {
  color: grey;
  text-decoration: underline;
}

