*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: url(images/main-sectionpic.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;

}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 18vh;
    border-bottom: 5px solid black;
    padding: 10px;

    
}

.navlink {
    list-style: none;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 2rem;
    align-items: center;
}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: grey;
    text-decoration: underline;
    text-shadow: grey 1px 1px;
    text-underline-offset: 0.5rem;
}
.logo {
    font-size: 2rem;
    color: black;
    text-decoration: underline;
    font-family: initial;
}

#profile{
    padding-top: 50px;
    

    background: rgb(171,166,168);
    background: linear-gradient(90deg, rgba(171,166,168,1) 51%, rgba(0,0,0,1) 100%);
    background-size: cover;
    text-align: center;
    font-weight: 700;
}

.btn {
    font-weight: 600;
    border-radius: 2rem;
    padding: 1rem;
    background-color: bisque;
}
.btn-download {
    font-weight: 600;
    border-radius: 2rem;
    padding: 1rem;
    background-color: rgb(188, 165, 165);
}
.btn-download:hover, 
.btn:hover {
    background-color: rgba(81, 75, 75, 0);
    box-shadow: 2px 2px 2px black;
}
.position{
    width: 40%;
}
#about {
    text-align: left;
    display: flex;
    flex-direction: column;
    
}
.section-text1 {
margin-top: 20px;
position: relative;
font-size: small;
font-family:initial;
}


.section-container {
    text-align: left;
}
.title {
    text-align: left;
}
p {
 line-height: 1;
 margin-top: 10px;
 position: relative;
 font-size: small;
 font-family:initial;
 font-style: italic;
}
.experience {
    text-decoration: underline;
    font-weight: 600;
    font-style: italic;
    padding-bottom: 10px;
}
h3 {
    padding-top: 10px;
    font-style: italic;
}
.video {
  width: 100%;
  height: auto;
  object-fit: cover;

}

@media (max-width: 768px) {
    
    body {
        font-size: 15px;

    }
    
    #profile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
    }
    
  
    .video {
      height: 50vh; 
      width: 100%;
      object-fit: cover;
     
    }
    .navlink {
        grid-template-columns: auto;
        grid-template-rows: repeat(3 ,auto);
        gap: 1rem;
        align-items: flex-start;
    }
    .navlink:hover a {
        color: gray;
        text-decoration: underline;
        text-shadow: grey 1px 1px;
        text-underline-offset: 0.5rem;
    }
      .position{
        width: 100%;
      }
      
      #experience {
        padding-top: 10px;
        height: 10vh;
      }
      
  }